@using RozliczanieSieNaMieszkaniu.Models
@model RozliczanieSieNaMieszkaniu.Models.EntriesViewModel
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewEntry.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewEntry.What)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewEntry.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.EntryList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.What)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>


@Html.Partial("_AddPartial", Model.NewEntry)
<div>
    @Html.ActionLink("Zobacz kto aktualnie komu ile musi oddać", "Summary");
</div>